.Bienvenidxs{
    color: blue;
    font-size: 400%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 100px;
    text-align: center;
}
.Bienvenidxs_img{
    top: 12px;
    border-radius: 0%;
    width: 400px;
    height: 400px;
    
}
.Foros{
    font-size: 400%;
}
.Foros_img{
    width: 500px;
    height: 500px;
}
.Tutoriales{
    font-size: 400%;
}
.Tutoriales_img{
    width: 500px;
    height: 500px;

}
.Pregunta_AH{
    font-size: 400%;
}
.Pregunta_AH_img{
    width: 500px;
    height: 500px;
}