{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AhorroDeDinero</title>
    <link rel="icon" href="https://ahorrodedinero.w3spaces.com/AH_icono.jpg?bypass-cache=00224242" type="image/png">
    
    <link rel="stylesheet" type='text/css' href="{% static 'css/PaginaPrincipalEdicion.css' %}"> 
</head>
<body>
        <header>
            <nav>
                <ul>
                    <li><a href="PaginaPrincipal.html"><img id="AH_img" src="https://ahorrodedinero.w3spaces.com/AH_icono.jpg?bypass-cache=63971527" alt="AH_img"></a></li>
                    <li><a class="Iniciar_sesion" href="Iniciar_sesion">Iniciar sesion</a></li>
                    <li><h1 class="AhorroDeDinero">AhorroDeDinero</h1></li>
                    
                </ul>
            </nav>
            
        </header>
        </div>
    
        </style>
        <h2 class="Foros">Foros</h2>
    
        <a href="Foros.html"><img class="Foros_img" src="https://cdn.pixabay.com/photo/2014/04/02/11/16/people-305730_960_720.png" alt="foros"></a>
    
        <h2 class="Tutoriales">Tutoriales</h2>
        
        <img class="Tutoriales_img" src="https://cdn.pixabay.com/photo/2018/05/19/01/23/online-3412498_960_720.jpg" alt="Tutoriales">
    
        <h2 class="Pregunta_AH">¿Que es ahorro de dinero?</h2>
    
        <img class="Pregunta_AH_img" src="https://cdn.pixabay.com/photo/2022/09/06/22/33/web-7437601_960_720.jpg" alt="AhorroDeDinero?">
        <a class="Iniciar_sesion" href="Iniciar_sesion.html">Iniciar sesion</a>
        
        

</body>
</html>
